extends ../layout

block content
  a(href='/bicicletas') Back
  br
  br
  br

  h1 New Bicycle
  br
  br
  form(action='/bicicletas/create' method='post')
    .form-group
      label(for="id") ID:
      input#id(type="text" name="id" class="form-control" placeholder="input int ID bicycle")
    .form-group
      label(for="color") Color:
      input#id(type="text" name="color" class="form-control" placeholder="input string Color bicycle")
    .form-group
      label(for="modelo") Modelo:
      input#id(type="text" name="modelo" class="form-control" placeholder="input string model bicycle")
    .form-group
      label(for="ciudad") Ciudad:
      input#id(type="text" name="ciudad" class="form-control" placeholder="input string city bicycle")
    .form-group
      label(for="lat") Latitud:
      input#id(type="text" name="lat" class="form-control" placeholder="input float latitude bicycle")
    .form-group
      label(for="lng") Longitud:
      input#id(type="text" name="lng" class="form-control" placeholder="input float longitud bicycle")
    br
    br
    input.btn(type='submit' value='OK')
